<section id="dashboard-view" class="mainbar">
    <section class="matter">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <ul class="today-datas">
                        <li class="borange">
                            <div class="pull-left"><i class="fa fa-envelope"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">{{vm.activeNflGamesCount}}</span> {{vm.activeNflGamesText}}
                            </div>
                            <div class="clearfix"></div>
                        </li>
                        <li class="borange" ng-show="false">
                            <div class="pull-left"><i class="fa fa-envelope"></i></div>
                            <div class="datas-text pull-right">
                                <span class="bold">{{vm.activeNcfGamesCount}}</span> {{vm.activeNcfGamesText}}
                            </div>
                            <div class="clearfix"></div>
                        </li>
                    </ul>
                    <div class="clearfix pull-left">Voice to Use: 
                        <select ng-model="vm.selectedVoice">
                            <option value="shouty">Shouty</option>
                            <option value="david">David</option>
                            <option value="callie">Callie</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row"><div class="col-md-6">
                    <div class="widget wblue">
                        <div ht-widget-header title="NFL Games"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Away Team</th>
                                        <th>Score</th>
                                        <th>Home Team</th>
                                        <th>Score</th>
                                        <th>Status</th>
                                        <!--<th>Quarter</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="g in vm.nflGames">
                                        <td>{{g.competitors[1].name}}</td>
                                        <td>{{g.competitors[1].score}}</td>
                                        <td>{{g.competitors[0].name}}</td>
                                        <td>{{g.competitors[0].score}}</td>
                                        <td>{{g.summary}}</td>
                                        <!--<td>{{g.clock}}</td>
                                        <td>{{g.period}}</td>-->
                                    </tr>
                                </tbody>
                                <!--<tbody>
                                    <tr ng-repeat="g in vm.nflGames">
                                        <td>
                                            <table>
                                                <td>
                                            {{g.id}}</td>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>-->
                            </table>
                        </div>
                        <div class="widget-foot">
                            <div class="clearfix pull-right">Last Update At: <span>{{vm.lastUpdatedNflScoresTime | amDateFormat:'MM/DD/YYYY, h:mm:ss a'}}</span></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <div class="row"><div class="col-md-6" ng-show="false">
                    <div class="widget wblue">
                        <div ht-widget-header title="College Football Games"
                             allow-collapse="true"></div>
                        <div class="widget-content text-center text-info">
                            <table class="table table-condensed table-striped">
                                <thead>
                                    <tr>
                                        <th>Away Team</th>
                                        <th>Score</th>
                                        <th>Home Team</th>
                                        <th>Score</th>
                                        <th>Status</th>
                                        <!--<th>Quarter</th>-->
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="g in vm.ncfGames">
                                        <td>{{g.competitors[1].name}}</td>
                                        <td>{{g.competitors[1].score}}</td>
                                        <td>{{g.competitors[0].name}}</td>
                                        <td>{{g.competitors[0].score}}</td>
                                        <td>{{g.summary}}</td>
                                        <!--<td>{{g.clock}}</td>
                                        <td>{{g.period}}</td>-->
                                    </tr>
                                </tbody>
                                <!--<tbody>
                                    <tr ng-repeat="g in vm.nflGames">
                                        <td>
                                            <table>
                                                <td>
                                            {{g.id}}</td>
                                            </table>
                                        </td>
                                    </tr>
                                </tbody>-->
                            </table>
                        </div>
                        <div class="widget-foot">
                                <div class="clearfix pull-right">Last Update At: <span>{{vm.lastUpdatedNcfScoresTime | amDateFormat:'MM/DD/YYYY, h:mm:ss a'}}</span></div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                </div>
            </div>
            <audio id="audioContainer" controls="" autoplay="" ng-show="false"></audio>
        </div>
    </section>
</section>
